@model IEnumerable<MvcVBlog19301330222_2020.Models.Category>
<ul>
@foreach(var item in Model)
{
    <li>@Html.ActionLink(item.Name, "ListArticleByCategory", "Article", new { ID=item.ID},null)</li>
}</ul>
