<div class="SearchBar">
    <table border="0" cellspacing="0" cellpadding="0">
        <form name="s" action="/Article/search" method="get">
        <tr valign="middle" align="right">
            <td>
                <input type="text" name="key" class="button">
            </td>
            <td width="50">
                <input type="submit" value="搜索" class="submit">
            </td>
        </tr>
        </form>
    </table>
</div>